<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My site</title>
</head>
<body>
 <h1>welcome to text analyser enter the text</h1>
<form action="/analyse" method="get">
    <textarea name="text" style="margin: 0px; width: 1234px; height: 111px;"></textarea>
    <br>
    <input type="radio" name="rempun">Remove Punctuation<br>
    <input type="radio" name="captilze">Upper Case<br>
    <input type="radio" name="newline">New Line<br>
    <input type="radio" name="spaceremover">spaceremover<br>
    <input type="radio" name="charcount">charcount<br>
    <button>click her to sumbit</button>

</form>
</body>
</html>